*{
    margin: 0;
    padding: 0;
    font-family:'popins', sans-serif;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/bg-img.jpg);
    padding-top: 200px;
}

.title{
    margin: auto;
    width: fit-content;
    text-align: center;
    color: #fff;
    position: relative;
}
.title h1{
    font-size: 70px;
    font-weight: 500;
    position: relative;
    z-index: 10;
}
.back-text{
    width: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.back-text span{
    display: inline-block;
    font-size: 250px;
    font-weight: 700;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
    -webkit-text-fill-color: transparent;
    transform: translateY(100px);
    opacity: 0;
    transition: transform 1s, opacity 0.5s, -webkit-text-stroke-color 0.5s;    
}
.back-text span.active{
    transform: translateY(0px);
    opacity: 1;
}

.back-text span:nth-child(1){
    transition-delay: 0.5s;
}
.back-text span:nth-child(2){
    transition-delay: 1s;
}
.back-text span:nth-child(3){
    transition-delay: 1.5s;
}
.back-text span:nth-child(4){
    transition-delay: 2s;
}
.back-text span:nth-child(5){
    transition-delay: 2.5s;
}
.back-text span:nth-child(6){
    transition-delay: 3s;
}
.back-text span:nth-child(7){
    transition-delay: 3.5s;
}

.back-text:hover span{
    -webkit-text-stroke-color: #e8ffcd;
} 
.btn{
    display: inline-block;
    background: transparent;
    color: #fff;
    padding: 12px 34px;
    text-decoration: none;
    font-size: 13px;
    border: 1px solid #fff;
    position: relative;
    cursor: pointer;
    align-items: center;
}
.btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}